HTTP_HOST_PORT=5010
HTTPS_HOST_PORT=5000
FINANCEDB="Server=<HOST>;Username=<USERNAME>;Database=<DATABASE>"
ASPNETCORE_ENVIRONMENT="<Production/Development>"
CERTIFICATE_PATH="/root/.aspnet/https/Auth_Service.pfx"
CERTIFICATE_PASSWORD="<CERTIFICATE PASSWORD>"