HTTP_HOST_PORT=5010
HTTPS_HOST_PORT=5000
FINANCEDB="Server=<HOST>;Username=<USERNAME>;Database=<DATABASE>"
ASPNETCORE_ENVIRONMENT="<Production/Development>"
CERTIFICATE_PATH="<path/to/certificate.pfx>"
CERTIFICATE_PASSWORD="<CERTIFICATE PASSWORD>"